{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row py-3">
    <div class="col">
        <form action="{{ url_for('research') }}" method="post">
          <div class="form-group">

            <label id="recherche" class="form-label">Entrez votre recherche*</label>
            <input type="text" for="recherche" class="form-control" name="search" required placeholder="Entrez votre recherche ici"/>

            <label id="count" class="form-label mt-1">Indiquez la taille de l'échantillon*</label>
            <input type="number" for="count" class="form-control" name="qte_tweet" value="0" required placeholder="0" min="-1"/>
            <small class="form-text text-muted">Si vous ne souhaitez pas avoir de limite, laissez "0"</small>

          </div>

          <div class="btn-group mt-1" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="typeRecherche" id="users" value="typeUsers">
            <label class="btn btn-outline-light" for="users">Utilisateur</label>

            <input type="radio" class="btn-check" name="typeRecherche" id="hashtag" value="typeHashtag">
            <label class="btn btn-outline-light" for="hashtag">Hashtag</label>

            <input type="radio" class="btn-check" name="typeRecherche" id="search" value="typeStandard">
            <label class="btn btn-outline-light" for="search">Standard</label>

          </div>
        </div>
        <div class="col">
          
          <label id="date_start" class="form-label">Indiquez une date de début -<small class="small"> Optionnel</small></label>
          <input type="date" for="date_start" class="form-control" name="date_start"/>
          
          <label id="date_start" class="form-label mt-1">Indiquez une date de fin -<small class="small"> Optionnel</small></label>
          <input type="date" for="date_start" class="form-control" name="date_end"/>

          <button type="submit" class="btn btn-light submitForm mt-3">Launch request</button>
        </div>
      </form>
      <small class="form-text text-muted text-center">Les champs avec un '*' sont obligatoires</small>
    </div>
    <div class="col telecommande text-center ">
      <ion-icon class="picto mx-2" name="chevron-back-outline"></ion-icon>
        <ion-icon class="picto mx-2 btn-outline-primary" name="pause-outline"></ion-icon>
        <ion-icon class="picto mx-2 btn-outline-success" name="play-outline"></ion-icon>
        <ion-icon class="picto mx-2 btn-outline-warning" name="stop-outline"></ion-icon>
        <ion-icon class="picto mx-2" name="chevron-forward-outline"></ion-icon>
        <ion-icon class="picto mx-2" name="download-outline"></ion-icon>
        <p>Vous avez actuellement x elements</p>
    </div>
    {# <div class="alert alert-dismissible alert-light mt-4">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
    </div> #}

    {% for tweet in ans %}

      <div class="card border-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Tweet n° {{tweet.id}}</div>
        <div class="card-body">
          <h4 class="card-title">{{tweet.user}}</h4>
          <p class="card-text">{{tweet.content}}</p>
        </div>
        <div class="row">
          <div class="col text-center">
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <span>{{ tweet.reply }}</span>
          </div>
          <div class="col text-center">
            <ion-icon name="refresh-outline"></ion-icon>
            <span>{{ tweet.retweet }}</span>
          </div>
          <div class="col text-center">
            <ion-icon name="heart-outline"></ion-icon>
            <span>{{ tweet.likes }}</span>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
  
    {# {% for post in posts %}
        <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %} #}
{% endblock %}