{% extends 'base.html' %}
{% block content %}
<div class="container">
  <form action="{{ url_for('research') }}" method="post">
    <div class="form-group">
      <label id="recherche" class="form-label mt-4">Entrez votre recherche :</label>
      <input type="text" for="recherche" class="form-control" name="search" placeholder="Entrez votre URL ici"/>
    </div>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="typeUsers" id="users" autocomplete="off">
      <label class="btn btn-outline-primary" for="users">Users</label>
      <input type="radio" class="btn-check" name="typeHashtag" id="hashtag" autocomplete="off">
      <label class="btn btn-outline-primary" for="hashtag">Hashtag</label>
      <input type="radio" class="btn-check" name="typeSearch" id="search3" autocomplete="off">
      <label class="btn btn-outline-primary" for="search3">Whatever</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% if toprint %}
  <p>{{ toprint }}</p>
  {% endif %}
</div>
    {% for post in posts %}
        <a href="#">
            <h2>{{ post[7] }}</h2>
        </a>
        <p>{{ post[8] }}</p>
        <ul>
            <li> Date de création du tweet : {{ post[1] }}</li>
            <li> Tweet ID : {{ post[3] }}</li>
            <li> Likes : {{ post[9] }}</li>
            <li> Nombre de réponse : {{ post[4] }}</li>
            <li> Nombre de retweet : {{ post[5] }}</li>
            <li> Langue : {{ post[6] }}</li>
            <li> ID : {{ post[0] }}</li>
        </ul>
        <hr>
    {% endfor %}
{% endblock %}